---
webtitle: Laura Villumsen, Grafisk designer
socials:
  [
    { name: instragram, link: 'https://instagram.com' },
    { name: linkedin, link: 'https://linkedin.com' },
  ]
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/assets/tailwind.css">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Syne&family=Unbounded:wght@600&display=swap" rel="stylesheet">
    <script defer src="/assets/main.js"></script>
  </head>
  <body class="font-syne">
    <header class="fixed inset-x-0 bg-white py-4 px-3 flex flex-col">
      <div class="flex justify-between">
        <a href="/">
          <h1>
            {{ webtitle }}
          </h1>
          <span>Portfolio</span>
        </a>
        <button class="text-5xl" aria-label="Toggle menu" title="menu">+</button>
      </div>
      <nav class="hidden w-56 h-full">
        <ul class="h-full flex flex-col justify-evenly">
          <li>
            <a href="#" class="text-6xl uppercase break-words font-unbounded">Arbejde</a>
          </li>
          <li>
            <a href="#" class="text-6xl uppercase break-words font-unbounded">Om mig</a>
          </li>
          <li>
            <a href="#" class="text-6xl uppercase break-words font-unbounded">Kontakt</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="pt-16">{{ content | safe }}</main>
    <footer class="fixed bottom-0 px-3 w-full md:text-right">
      <span class="mr-10">footer→</span>
      {% for social in socials %}
        <a href="{{ social.link }}" class="underline mr-6 last:mr-0">{{ social.name }}</a>
      {% endfor %}
    </footer>
  </body>
</html>