---
webtitle: Laura Villumsen, Grafisk designer
socials:
  [
    { name: instragram, link: 'https://instagram.com' },
    { name: linkedin, link: 'https://linkedin.com' },
  ]
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/assets/tailwind.css">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Syne&family=Unbounded:wght@600&display=swap" rel="stylesheet">
    <script defer src="/assets/main.js"></script>
  </head>
  <body class="font-syne h-screen flex flex-col">
    <header class="fixed inset-x-0 py-4 px-3 flex flex-col bg-white">
      <div class="flex justify-between bg-white">
        <a href="/" class="lg:flex lg:justify-between lg:w-full">
          <h1>
            {{ webtitle }}
          </h1>
          <span>Portfølje</span>
        </a>
        <button class="text-5xl lg:hidden" aria-label="Toggle menu" title="menu">+</button>
      </div>
      <nav class="hidden w-full h-full lg:block bg-white lg:bg-transparent">
        <ul class="h-full w-56 flex flex-col justify-evenly lg:flex-row lg:w-full lg:fixed lg:bottom-0 lg:left-0 lg:h-auto
            lg:justify-between">
          <li>
            <a href="/" class="text-6xl uppercase break-words font-unbounded lg:text-5xl">Arbejde</a>
          </li>
          <li>
            <a href="/about" class="text-6xl uppercase break-words font-unbounded lg:text-5xl">Om mig</a>
          </li>
          <li>
            <a href="/contact" class="text-6xl uppercase break-words font-unbounded lg:text-5xl">Kontakt</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="pt-20 px-3 content flex-1">{{ content | safe }}</main>
    <footer class="relative px-3 w-full md:text-right my-6 lg:mb-24">
      <span class="mr-10">footer→</span>
      {% for social in socials %}
        <a href="{{ social.link }}" class="underline mr-6 last:mr-0">{{ social.name }}</a>
      {% endfor %}
    </footer>
  </body>
</html>