---
webtitle: Laura Villumsen, Grafisk designer
socials:
  [
    { name: instragram, link: 'https://www.instagram.com/lauravill_design/?hl=da ' },
    { name: linkedin, link: 'https://www.linkedin.com/in/laura-villumsen-design' },
  ]
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/assets/tailwind.css">
    <title>{{ title }} | {{ webtitle }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Syne&family=Unbounded:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/wsq1sgw.css">
    <script defer src="/assets/main.js"></script>
  </head>
  <body class="h-screen flex flex-col">
    <header class="fixed inset-x-0 flex flex-col h-screen pointer-events-none">
      <div class="flex justify-between py-4 px-3 bg-white z-50 pointer-events-auto">
        <a href="/" class="lg:flex lg:justify-between lg:w-full font-neue text-base lg:text-xl">
          <div>
            {{ webtitle }}
          </div>
          <span>Portefølje</span>
        </a>
        <button
          class="lg:hidden w-5 h-5 will-change-transform rotate-0 duration-300 pointer-events-auto"
          aria-label="Toggle menu"
          title="menu">
          <img src="/assets/add-icon.svg" alt="">
        </button>
      </div>
      <nav class="w-full h-full lg:block bg-[#E8E6E7] lg:bg-transparent lg:fixed lg:-bottom-8 lg:h-auto py-4 px-3 -translate-y-full
          duration-300 pointer-events-auto">
        <ul class="h-full w-48 flex flex-col justify-evenly lg:flex-row md:w-full lg:fixed lg:bottom-0 lg:left-0 lg:h-auto
            lg:justify-between">
          <li class="relative lg:ml-3">
            <a
              href="/"
              class="text-6xl lg:relative uppercase break-words font-owners-wide after:content-['-'] after:absolute after:right-[-25px]
                after:top-0 md:after:content-none font-medium md:text-[8.1rem] lg:text-[3.9rem] xl:text-[4.9rem] 2xl:text-[5.3rem]
                lg:after:hover:content-[url(arrow_left.png)] lg:after:hover:absolute lg:after:hover:right-[-45px]
                lg:after:hover:top-[8px] lg:after:hover:scale-125 xl:after:hover:right-[-50px] xl:after:hover:top-[3px]
                xl:after:hover:scale-150">
              Arbejde</a>
          </li>
          <li>
            <a
              href="/about"
              class="text-6xl lg:relative uppercase break-words font-owners-wide font-medium md:text-[8.1rem] lg:text-[3.9rem]
                xl:text-[4.9rem] 2xl:text-[5.3rem] lg:before:hover:content-[url(arrow_right.png)] lg:before:hover:absolute
                lg:before:hover:left-[-50px] lg:before:hover:scale-125 lg:before:hover:top-[7px] xl:before:hover:left-[-55px]
                xl:before:hover:scale-150 xl:before:hover:top-[2px]">
              Om mig</a>
          </li>
          <li class="relative lg:mr-3">
            <a
              href="/contact"
              class="uppercase lg:relative text-6xl break-words font-owners-wide after:content-['-'] after:absolute after:right-[-25px]
                after:top-0 md:after:content-none font-medium md:text-[8.1rem] lg:text-[3.9rem] xl:text-[4.9rem] 2xl:text-[5.3rem]
                lg:before:hover:content-[url(arrow_right.png)] lg:before:hover:absolute lg:before:hover:left-[-50px]
                lg:before:hover:scale-125 lg:before:hover:top-[7px] xl:before:hover:left-[-55px] xl:before:hover:scale-150
                xl:before:hover:top-[2px]">
              Kontakt</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="pt-24 px-3 content flex-1">{{ content | safe }}</main>
    <footer class="relative px-3 w-full md:text-right my-6 lg:mb-24">
      <span class="mr-10">footer→</span>
      {% for social in socials %}
        <a href="{{ social.link }}" class="underline mr-6 last:mr-0 italic" target="_BLANK">{{ social.name }}</a>
      {% endfor %}
    </footer>
  </body>
</html>