---
layout: layout.njk
---

<div class="flex overflow-x-auto">
  {% for image in images %}
    <img src="{{ image.url }}" alt="{{ image.alt }}" class="max-h-full max-w-full object-contain mr-3 last:mr-0"/>
    {% if loop.index0 == 1 %}
      <div class="mr-3">
        <p class="w-96">
          {{ content | striptags }}
        </p>
      </div>
    {% endif %}
  {% endfor %}
</div>