---
layout: layout.njk
---

<div class="pb-8">
  <h2>{{ title }}</h2>
  <time>{{ publish_date }}</time>
  <p>{{ publisher }}</p>
</div>
<p class="pb-8">{{ content | striptags }}</p>
{% for image in images %}
  <img src="{{ image.url }}" alt="{{ image.alt }}" class="w-full"/>
  {% if loop.index0 == 1 %}{% endif %}
{% endfor %}