---
layout: layout.njk
---

<div>
  <div class="pb-8 text-4xl lg:text-5xl font-neue">
    <p>{{ publisher }}</p>
    <h1>{{ title }}</h1>
    <time>{{ publish_date }}</time>
  </div>
  <div class="lg:grid lg:grid-cols-12">
    <p class="pb-8 font-neue text-sm lg:text-base lg:col-span-5">{{ text | striptags(true) | escape | nl2br }}</p>
  </div>
</div>
<div>
  {{ content | safe }}
</div>