---
layout: layout.html
title: Laura Willumsen Taboryski
---

{% for project in collections.projects %}
<h2>
  <a href="{{ project.url }}">{{ project.data.title }}</a>
</h2>
<p>{{ project.content }}</p>
{% endfor %}
