h1.wp-block-heading.has-x-large-font-size {
  font-size: 1.875rem !important;
  line-height: 2.15rem !important;

  @media screen and (min-width: 768px) {
    font-size: 3.4375rem !important;
    line-height: 3.5rem !important;
  }
}

div.wp-block-columns {
  margin: 0 var(--global-margin);
}

div.wp-block-columns:has(.wp-block-image) {
  margin: 0;
}

:where(.wp-block-columns.is-layout-flex) {
    gap: 0.75em;
}