@import url("reset.css");

html, body {
  scroll-behavior: smooth;
  font-family: neue-haas-grotesk-display, Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  margin: 0 .625rem;
}

.main-header {
  padding-top: 16px;
  padding-bottom: 48px;

  & > div:first-child {
    display: flex;
    justify-content: space-between;
  }
}

#menuToggleInput {
  display: none;

  &:checked {
    & ~ #menu {
      display: block;
    }

    & ~ #menuToggleButton label svg {
      transition-duration: 200ms;
      transform: rotate(45deg);
    }
  }
}

#menuToggleButton {
  border: none;
  background: none;
  position: absolute;
  right: 0;
  
  & label {
    display: flex;
    justify-content: center;
    column-gap: 0.25rem;

    svg {
      transition-duration: 200ms;
      transform: rotate(0deg);
    }
  }
}

#menu {
  display: none;
}