@tailwind base;
@tailwind components;
@tailwind utilities;

.content img,
.content video {
  width: 100%;
  margin-bottom: 13px;
}

table {
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
}

table th {
  vertical-align: top;
  text-align: left;
  width: 110px;
}
