---
layout: layout.njk
title: Laura Willumsen Taboryski
---

<p>
  25 år grafisk designer bosiddende i Danmark. Jeg er aktiv studerende på Danmarks Medie- og Journalisthøjskole. I mit
  arbejde har jeg primært fokus på typografi, layout, digital design og kommunikation.
</p>
<img src="https://lauravillumsen.com/assets/images/IMG_9029%201.jpg" alt="">
<table>
  <thead>
    <tr>
      <th colspan="2">
        <h2>Uddannelse:</h2>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2021 - nu</th>
      <td>
        <p>
          Grafisk design,<br/> Danmarks Medie- og<br/> Journalisthøjskole
        </p>
      </td>
    </tr>
    <tr>
      <th>2020 - 2021</th>
      <td>
        <p>
          Brand design,<br/> Københavns Erhvervs-akademi
        </p>
      </td>
    </tr>
    <tr>
      <th>2018 - 2020</th>
      <td>
        <p>
          Multimediedesign, <br/> Københavns Erhvervs-akademi
        </p>
      </td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th colspan="2">
        <h2>Erhvervserfaring:</h2>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>
        2022
      </th>
      <td>
        <p>Grafisk studentermedhjælper,<br/> Alex Poulsen Arkitekter</p>
      </td>
    </tr>
    <tr>
      <th>
        2020 - 2020
      </th>
      <td>
        <p>
          Grafisk designer, praktikant<br/>CPH:DOX
        </p>
      </td>
    </tr>
    <tr>
      <th>
        2019 - 2022
      </th>
      <td>
        <p>
          Content creator,<br/> Talk Town, Story House Egmont
        </p>
      </td>
    </tr>
    <tr>
      <th>
        2018 - 2022
      </th>
      <td>
        Redaktionsassistent,
      </td>
    </tr>
  </tbody>
</p>
Vores Børn, Story House Egmont</td></tr><tr><th>
2018 -</th><td>
<p>Freelance</p></td></tr><tr><th>
2018 - 2019</th><td>
Studentermedhjælper,<br/> Alt for Damerne, Story House Egmont.</td></tr></tbody></table>