---
layout: layout.njk
title: Kontakt
metaDesc: Kontakt mig gerne, hvis du har spørgsmål eller ønsker min hjælp til grafisk design.
---

<div class="lg:grid lg:grid-cols-12 mt-5 lg:mt-5">
  <address class="not-italic text-[2rem] leading-9 lg:text-4xl mb-12 font-neue lg:col-start-6 lg:col-span-6 lg:order-2">
    <div>
      Laura Villumsen Taboryski
    </div>
    <div class="mb-12 lg:mb-0">
      Nørrebro, København
    </div>
    <div>
      Mail:
      <a href="mailto:design@lauravillumsen.dk">design@lauravillumsen.dk</a>
    </div>
    <div>
      Mob.:<a href="tel:+4530118674">+45 30118674</a>
    </div>
  </address>
  <p class="text-sm font-neue lg:col-span-3 lg:order-1 lg:text-base lg:col-start-2">
    Hvis du ønsker mere information eller har spørgsmål vedr. mit arbejde eller ønsker hjælp til grafisk arbejde, så kontakt
    mig gerne.
  </p>
</div>