---
layout: layout.njk
title: Laura Willumsen Taboryski
---

<div class="lg:grid lg:grid-cols-12">
  <p class="mb-8 lg:col-span-3">
    Hvis du ønsker mere information eller har spørgsmål vedr. mit arbejde eller ønsker hjælp til grafisk arbejde, så kontakt
    mig gerne.
  </p>
  <address class="not-italic lg:col-start-6 lg:col-span-6">
    Laura Villumsen Taboryski<br/>
    Nørrebro, København<br/> Mail:
    <a href="mailto:laura@lauravillumsen.com">laura@lauravillumsen.com</a><br/> Mob.:
    <a href="tel:+4530118674">+45 30118674</a>
  </address>
</div>