---
layout: layout.njk
title: Laura Willumsen Taboryski
---

<div class="lg:grid lg:grid-cols-12">
  <address class="not-italic text-4xl mb-12 font-neue lg:col-start-6 lg:col-span-6 lg:order-2">
    <div>
      Laura Villumsen Taboryski
    </div>
    <div class="mb-12 lg:mb-0">
      Nørrebro, København
    </div>
    <div>
      Mail:<br/>
      <a href="mailto:laura@lauravillumsen.com">laura@lauravillumsen<br/>.com</a>
    </div>
    <div>
      Mob.:<a href="tel:+4530118674">+45 30118674</a>
    </div>
  </address>
  <p class="text-sm font-neue lg:col-span-3 lg:order-1 lg:text-base lg:col-start-2">
    Hvis du ønsker mere information eller har spørgsmål vedr. mit arbejde eller ønsker hjælp til grafisk arbejde, så kontakt
    mig gerne.
  </p>
</div>