---
layout: layout.njk
title: Laura Willumsen Taboryski
---

<div class="md:grid md:grid-cols-2 md:gap-3">
  {% for work in collections.works %}
    {% set image = work.data.images[0] %}
    <div>
      <a href="{{ work.url }}">
        <img src="{{ work.data.thumbnail.url }}" alt="{{ work.data.thumbnail.alt }}" class="w-full"/>
        <div class="flex justify-between">
          <h2>
            {{ work.data.title }}
          </h2>
          <div>
            {{ work.data.publish_date }}
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>